body{
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul {
    list-style: none;
  }

header{
    background-color: aqua;
    margin: 0;
  
}

@media (min-width: 300px) and (max-width: 425px) {
    .container{
        width: 425px;
        padding:0;

    }
    body{
        width: 425px;
        padding:0;
    }
   header{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    width: 425px ;
    padding:0;
   }
   .splide{
    width: 425px
   }
   .mySlides{
    width: 100%;
    height: 380px;
    object-fit: cover;
   }

   .w3-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;

  }

  
  .w3-display-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
  }
  
  .w3-display-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
  }
   }
   .my-slider-progress {
     background: #a74949;
   }
   
   .my-slider-progress-bar {
     background: rgb(132, 207, 20);
     height: 2px;
     transition: width 400ms ease;
     width: 0;
   }
  
   .saidbar{
    display: none;
    padding:0;
   }
   .aboutMe{
    padding: 12px;
    background-color: blueviolet;
   }
    .aligned-list {
        list-style: none;
        padding: 0;
    }
    
    .aligned-list li {
        margin-bottom: 10px;
        display: flex;
    }
    
    .aligned-list li span {
        min-width: 120px; /* Ajusta el ancho según tus necesidades */
        display: inline-block;
        font-weight: bold;
    }
    
    .aligned-list li span:not(:first-child) {
        margin-left: 20px; /* Espacio entre la etiqueta y el valor */
    }
    
    .skills{
        padding: 12px;
        background-color: rgb(255, 170, 13);
    }
    .skill1{
        display: flex;
        flex-direction: row;
        
        }
        .skill1--icono{
            width: 20%;
            margin: 0;
            padding: 0;
            }
            
            .skill1--text{
                width: 80%;
                margin: 0;
                padding: 0;
                }
                .skill1--text h3{
                    margin-top: 0;
                    }
    .skill1--icono img{
        width:70px;
        height: 70px;
    }
    .education{
        padding: 12px;
        background-color: rgb(255, 255, 255);
    }
    .education--item{
        display: flex;
        flex-direction: row;
    }
    .education--tittle{
        border-bottom: 1px solid #c0c0c0;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .education--icono{
        display: flex; /* Utilizar flexbox */
        align-items: flex-start; /* Alinear elementos en la parte superior del contenedor */
        text-align: center; /* Alinear el texto al centro horizontalmente */
         
            width: 20%;
            height: 50%;
            margin: 0;
            padding: 0;
            }
            .education--icono p{
                font-size: 28px;
                }
                
            .education--text{
                width: 80%;
                margin: 0;
                padding: 0;
                }
                .education--text h3{
                    margin-top: 0;
                    }
    .seducation--icono img{
        width:70px;
        height: 70px;
    }

    /*SECTION ABOUT EMPOYMENT*/
    .employment{
        padding: 12px;
        background-color: blueviolet;
    }
    .employment--item{
        position: relative;
        border-bottom: 1px solid transparent; /* Borde transparente */
        margin-bottom: 20px; 
        
    }
    .employment--item::after {
        content: '';
        position: absolute;
        bottom: -5px; /* Ajusta esto para la mitad del margen */
        left: 70%; /* Centra el pseudo-elemento */
        transform: translateX(-80%);
        width: 70%; /* Ajusta esto para la mitad del margen */
        border-bottom: 1px solid #c0c0c0; / /* La mitad del margen */
    }
    .employment--item h3, h4 {
        margin:0;
    }
    .employment--item h3, h4 {
        margin:0;
    }
    .dateYear {
        display: inline-block;
        background-color: black;
        color: #c0c0c0;
    }

    
    /*SECTION ABOUT CONTAC*/

    .blog{
        padding: 12px;
        background-color: rgb(255, 170, 13);
    }
    .blogSection{
        border: 4px rgb(241, 195, 108) solid;
        margin: 6px;
        padding: 6px;
    }
    form{
        display: flex;
        flex-direction: column;
    }
    /*SECTION ABOUT CONTAC*/
    .contact{
        padding: 12px;   
    }
    form{
        margin: 20px;
    }
    form input{
        margin: 5px;
        width: 340px; /* Ancho deseado */
        height: 30px; /* Altura deseada */
        border-color: #ccc;
        border-width: 1px;
        border-style: solid;
    }
    #opciones{
        margin: 5px;
        width: 346px; /* Ancho deseado */
        height: 34px; /* Altura deseada */
        border-color: #ccc;
        border-width: 1px;
        border-style: solid;
        color: #666;
    }
    /*SECTION ABOUT networkin*/
    .networking{
        padding: 12px;
        background-color: blueviolet;
    }
  }
  @media (min-width: 425px) {
    header{
     width: 425px ;
    }
    .w3-display-left {
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translate(0%, -50%);
      }
      
      .w3-display-right {
        position: absolute;
        top: 50%;
        right: -32%;
        transform: translate(0%, -50%);
      } 
 
   }